
<%- include('header') %>

    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>
    

    <div class="box">
        <% const listLength = newListItems.length; %> 

        <% for (var i = 0; i < listLength; i++ ) { %> 

            <div class="item">
                <input type="checkbox">

                <p><%= newListItems[i] %></p>
            </div>
            

        <% } %> 

        <form class="item" action="/" method="post">
            <input type="text" name="nextItem" placeholder="Enter next item" autocomplete="off">
            <button type="submit" name="button" value="<%= kindOfDay %>">+</button>
        </form>

    </div>

<%- include('footer') %>